body{
	background: grey;
	color: black;
	margin:0px;
}
#date
{
	color: white;
}
@media only screen and (max-width: 400px)
{
#ads
{
	float: none;
}

#admin
{
	font-size: 12px;
}
span{
	color: white;
	left: 50%;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-right: 0px;
	margin-left: 5px;
}
}

@media  only screen and (min-width: 400px) and (max-width: 900px)
{
#ads{
	width: ;
	float:none;
	margin-top: 15px;
}

.main
{
	width: ;
	margin-bottom: 5px;
}

.icons
{
	padding-top: 5px;
}

#admin
{
	font-size: 16px;
}
span{
	color: white;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-right: 7px;
	margin-left: 9px;

}
footer>center>img{
	margin-top: 5px;
}

}

@media only screen and (min-width: 900px)
{
	#ads{
		position: absolute;
		left: 72%;
		margin-top: 18px;
	}
	
	.main{
		width: 70%;
	}
	.icons
{
	padding-top: 5px;
	margin-bottom: 0px;
	margin-left: 35px;
}
#admin
{
	font-size: 20px;
}
span{
	color: white;
	padding-right: 40px;
}
footer>center>img
{
	margin-top: 10px;
}
}


footer{
	width: 100%;
	margin-top: 10px;
	background: black;
	text-align: center;
	color: white;
	padding:5px 0px 10px 0px;
}
header>img
{
	
	width: 100%;
	height: 30%;
}
footer>center>img{
	border-radius: 50%;
	width:10%;
	height: 10%;

}
ul>li
{
	font-family: cursive;
	list-style-type: none;
	border:2px solid blue;
	margin-bottom: 3px;
	float: left;
	
}
.main{
	background: rgba(255,254,254,0.5);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	text-align: justify-all;
	border-radius: 0px;
	padding: 5px;
}
.navbar
{
}
ul>li{
	width: 30%;
	margin-right: 10px;
}
#admin{
	padding-top: 5px;
	color: red;
	font-family: monospace;
	font-weight: bolder;
}
#ads
{
	
	background: rgba(255,254,254,0.5);
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify-all;
	padding: 5px;
	border-radius: 0px;
}
span:hover{
	color:rgba(51, 153, 255,1);
	
}

