body{
	background: grey;
	color: black;
	margin:0px;
}
#date
{
	color: white;
}



/*mobile view*/

@media only screen and (max-width: 400px)
{
#ads
{
	float: none;
}

#admin
{
	font-size: 12px;
}
span{
	color: white;
	left: 50%;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-right: 0px;
	margin-left: 5px;
}
li
{

}
#name
{
	position: absolute;
	top: 0%;
	left: 1%;
	color: white;
	font-size: 20px;
}
#sub-name
{
	position: absolute;
	top: 13px;
	left: 63px;
	color: white;
	font-size: 15px;
	color: white;
}
}



/*tablet view*/

@media  only screen and (min-width: 400px) and (max-width: 900px)
{
#ads{
	width: ;
	float:none;
	margin-top: 15px;
}

.main
{
	width: ;
	margin-bottom: 5px;
}

.icons
{
	padding-top: 5px;
}

#admin
{
	font-size: 16px;
}
span{
	color: white;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-right: 7px;
	margin-left: 9px;

}
footer>center>img{
	margin-top: 5px;
}

}




/*desktop view*/

@media only screen and (min-width: 900px)
{
	.nav
{
	font-size: 30px;
	/*width: 100%;*/
	/*background: black;*/
	/*margin-bottom: 0px;*/
	/*padding-top: 0px;*/
	/*padding-bottom: 0px;*/
	/*text-align: center;*/
	/*padding-left:0px; */
}
ul
{


	list-style-type: none; 
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	
}
li
{ 
	margin-right: 10px;
	float: left;
	margin-right: 0px;
	text-align: center;
	width: 25%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#ads{
		position: absolute;
		left: 72%;
		margin-top: 18px;
	}
	
	.main{
		width: 70%;
		font-size: 20px;
	}
	.icons
{
	padding-top: 5px;
	margin-bottom: 0px;
	margin-left: 35px;
}
#admin
{
	font-size: 20px;
}
span{
	color: white;
	padding-right: 40px;
}
footer>center>img
{
	margin-top: 10px;
}
#name
{
	position: absolute;
	top: 7%;
	left: 1%;
	/*color: white;*/
	font-size: 60px;
}
#sub-name
{
	position: absolute;
	top: 95px;
	left: 195px;
	/*color: white;*/
	font-size: 25px;
	/*color: white;*/
}
}




li:hover
{
	background:green;
	/*transition: 1s;
	background: blue;*/
	/*transition-delay: 100ms;*/
}

li:active
{
	background: red;
}

footer{
	width: 100%;
	margin-top: 10px;
	background: black;
	text-align: center;
	color: white;
	padding:5px 0px 10px 0px;
}
header>img
{
	
	width: 100%;
	height: 30%;
}
footer>center>img{
	border-radius: 50%;
	width:10%;
	height: 10%;

}

.main{
	background: rgba(255,254,254,0.5);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	text-align: justify-all;
	border-radius: 0px;
	padding: 5px;
}

#admin{
	padding-top: 5px;
	color: red;
	font-family: monospace;
	font-weight: bolder;
}
#ads
{
	
	background: rgba(255,254,254,0.5);
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify-all;
	padding: 5px;
	border-radius: 0px;
}
span:hover{
	color:rgba(51, 153, 255,1);
	
}

.nav
{
	width: 100%;
	background: black;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	padding-left:0px; 
}


a
{
	text-decoration: none;
	color: white;
}

input
{

	position: absolute;
	top: 70px;
	float: right;
	left: 80%;
	width: 18%;
	height: 30px;
	font-size: 20px;
	border-radius: 15px;
	padding-left: 10px;
}
input:focus
{
	left: 68%;
	width: 30%;
	background: black;
	color: white;
}
header
{
	margin-top: 0px;
}
#name
{
	/*position: absolute;*/
	/*top: 7%;*/
	/*left: 1%;*/
	color: white;
	/*font-size: 60px;*/
}
#sub-name
{
	/*position: absolute;*/
	/*top: 95px;*/
	/*left: 195px;*/
	color: white;
	/*font-size: 25px;*/
	color: white;
}