body{
	background: grey;
	color: black;
	margin:0px;
}
#date
{
	color: white;
}



/*mobile view*/

@media only screen and (max-width: 400px)
{
header>img
{
	
	width: 100%;
	height: 150px;
}
#ads
{
	float: none;
}


span{
	color: white;
	left: 50%;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-right: 0px;
	margin-left: 5px;
}
li
{

}
#name
{
	position: absolute;
	top: 0%;
	left: 1%;
	color: white;
	font-size: 20px;
}
#sub-name
{
	position: absolute;
	top: 13px;
	left: 63px;
	color: white;
	font-size: 15px;
	color: white;
}
footer>center>img{
	border-radius: 50%;
	width:120px;
	height: 120px;

}
}



/*tablet view*/

@media  only screen and (min-width: 400px) and (max-width: 900px)
{
header>img
{
	
	width: 100%;
	height: 150px;
}
#ads{
	width: ;
	float:none;
	margin-top: 15px;
}

.main
{
	width: ;
	margin-bottom: 5px;
}

.icons
{
	padding-top: 5px;
}

span{
	color: white;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-right: 7px;
	margin-left: 9px;

}
footer>center>img{
	margin-top: 5px;
	border-radius: 50%;
	width:150px;
	height: 150px;

}
}




/*desktop view*/

@media only screen and (min-width: 900px)
{
	header>img
{
	margin-top: 54px;
	width: 100%;
	height: 200px;
}
	.nav
{
	position: fixed;
	font-size: 30px;
}
ul
{
	list-style-type: none; 
  	overflow: hidden;
 }
li
{ 
	float: left;
	text-align: center;
	width: 25%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#ads{
		position: absolute;
		left: 72%;
		margin-top: 18px;
	}
	
	.main{
		width: 70%;
		font-size: 20px;
	}
	.icons
{
	padding-top: 5px;
	margin-bottom: 0px;
	margin-left: 35px;
}

span{
	color: white;
	padding-right: 40px;
}
footer>center>img
{
	margin-top: 10px;
}
#name
{
	position: absolute;
	top: 7%;
	left: 1%;
	font-size: 60px;
}
#sub-name
{
	position: absolute;
	top: 95px;
	left: 195px;
	font-size: 25px;
}
footer>center>img{
	border-radius: 50%;
	width:150px;
	height:150px;

}
}
footer>center>img{
	border: 2px solid white;
}
ul
{


	list-style-type: none; 
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	
}
li:hover
{
	background:green;
}

li:active
{
	background: red;
}

footer{
	width: 100%;
	margin-top: 10px;
	background: black;
	text-align: center;
	color: white;
	padding:5px 0px 10px 0px;
}
.main{
	background: rgba(255,254,254,0.5);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	text-align: justify-all;
	padding: 5px;
}

#admin{
	font-size: 20px;
	padding-top: 5px;
	color: red;
	font-family: monospace;
	font-weight: bolder;
}
#ads
{
	
	background: rgba(255,254,254,0.5);
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify-all;
	padding: 5px;
}


.nav
{
	width: 100%;
	background: black;
	text-align: center;
}


a
{
	text-decoration: none;
	color: white;
}


header
{
	margin-top: 0px;
}
#name
{
	color: white;
}
#sub-name
{
	color: white;
	color: white;
}
span:hover{
	color:rgba(20, 153, 255,1);
	
}
.youtube
{
	position: absolute;
	top: 200px;
	left: 0px;
}
iframe
{
	position: absolute;
	top: 150px;
}
